<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <div>
        <h1 th:text="${message}">default text</h1>
    </div>

    <div th:each="letter : ${letters}">
        <ul>
            <li th:text="${letter}"/>
        </ul>
    </div>


    <form method="POST" th:object="${user}">

        <div>
            <label for="username">Name</label>
        </div>
        <input type="text" th:field="*{username}" id="username" />


        <input type="submit" value="Submit" />

    </form>

</body>

</html>